
<style>
  .boss {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin: auto;
    position: relative;
    width: 90%;
    height: 40%;
  }

  img {
    position: relative;
    float: left;
  }
  .sidebar {
    float: right;
  }

  .jumbotron {
    height: auto;
  }
  #boss0 { background-image: url('../img/boss01.jpg');}
  #boss1 { background-image: url('../img/boss02.jpg');}


</style>


<div ng-repeat='boss in bosses'>

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">{{boss.accumulated}} Votos de {{me.maxClicks[$index]}}/min</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Seu Nível: {{me.level[$index]}}</button>
    </div>
  </div>

  <div class="progress-bar progress-bar-striped" role="progressbar"
       ng-class='boss.hpClass' ng-style="{width: boss.relativeHp}">{{boss.name}} Vida
  </div>

  <div class='row'>
    <div class="col col-90" ng-click='addAttack(boss, me)'>
        <img ng-src="{{boss.imgSrc}}" width="100%" />
    </div>
    <div class='col col-10 sidebar'>
      <button class='btn btn-default'>
        {{formatDmg(me.totalClicks[$index])}}
      </button><br>
      <a href='#/ranking'>
        <div class='btn btn-default glyphicon glyphicon-list'>
        </div>
      </a><br>
      <a href='#/profile'>
        <div class='btn btn-default glyphicon glyphicon-user'>
        </div>
      </a>
    </div>
  </div>

</div>
