
<style>
  .boss {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin: auto;
    position: relative;
    width: 90%;
    height: 40%;
  }

  .jumbotron {
    height: auto;
  }
  #boss1 { background-image: url('../img/dilma01.jpg');}
  #boss2 { background-image: url('../img/cunha01.jpg');}
</style>


  <img ng-click='attack("boss1")' id='boss1' class='jumbotron boss'>
</img>




  <img id='boss2' ng-click='attack("boss2")' id='boss2' class='jumbotron boss'>

</img>
