<style>
.black {
  font-weight: bold;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.red {
  color: red;
}
.yellow {
  color: yellow;
}
  table,tr,th,td {
    text-align: center;
  }

  th {
    font-weight: bold;
  }

  .reference {
    width: 20%;
    font-weight: bold;
  }

</style>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><b>{{me.username}}</b></button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Ranking</button>
  </div>
  <div class="btn-group" role="group">
    <a href='#/play'><button type="button" class="btn btn-default">Voltar</button></a>
  </div>
</div>


<table class='table table-bordered table-responsive'>
  <tr>
    <th> </th>
    <th> Dilmal</th>
    <th> Cunhal</th>
  </tr>
  <tr>
    <td class='reference'> Dano total</td>
    <td> {{me.totalClicks[0]}} </td>
    <td> {{me.totalClicks[1]}}</td>
  </tr>

  <tr>
    <td class='reference'> Máx/minuto </td>
    <td> {{me.maxClicks[0]}}
      <button ng-click='addMax(me, 0)' class='btn-default'>+100 (1 moeda)</buttom>
    </td>
    <td> {{me.maxClicks[1]}}
      <button ng-click='addMax(me, 1)' class='btn-default'>+100 (1 moeda)</buttom>
    </td>
  </tr>

  <tr>
    <td class='reference'> Multiplicador </td>
    <td> x{{me.dmgMulti[0]}}
      <button ng-click='addMulti(me, 0)' class='btn-default'>+x1 (50 moedas)</button>
    </td>
    <td> x{{me.dmgMulti[1]}}
      <button ng-click='addMulti(me, 1)' class='btn-default'>+x1 (50 moedas)</button>
    </td>
  </tr>

  <tr>
    <td class='reference'> Moedas </td>
    <td> {{getCoins(me, 0)}} </td>
    <td> {{getCoins(me, 1)}}</td>
  </tr>

  <tr>
    <td class='reference'> Cor do nome:</td>
    <td ng-class='me.colorActive[0]'> {{me.colorActive[0]}}</td>
    <td ng-class='me.colorActive[1]'> {{me.colorActive[1]}}</td>
  </tr>
</table>
Cores em posse (Clique para ativar):<br>
<button ng-click='activateColor(color)'ng-repeat='color in myColors' class='btn btn-default' ng-class='color'> {{color}}</button><br>
<div ng-if='colors'>Cores para comprar (1 moeda cada):<br>
<button ng-click='buyColor(color)' ng-repeat='color in colors' class='btn btn-default'
        ng-class='color'>{{color}}</button><br></div>
