<style>

  .position {
    width: 10%;
  }

  td {
    text-align: center;
  }

  th {
    text-align: center;
    font-family: Verdana;
  }

  #homeButton {
    width: .1%;
  }

  .Preto {
    font-weight: bold;
  }
  .Azul {
    color: blue;
  }
  .Verde {
    color: #228B22;
  }
  .Vermelho {
    color: red;
  }
  .Amarelo {
    color: yellow;
  }
  .Ouro {
    color: gold;
  }
  .Rosa {
    color: #FF00FF;
  }



</style>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button ng-click='setRank("boss","0")' type="button" class="btn btn-default">Dilmal</button>
  </div>
  <div class="btn-group" role="group">
    <button ng-click='setRank("boss","1")' type="button" class="btn btn-default">Cunhal</button>
  </div>
  <div class="btn-group" role="group">
    <a href='#/play'><button type="button" class="btn btn-default">Voltar</button></a>
  </div>
</div>



<table ng-if='rankers' class='table table-striped table-responsive table-bordered'>
  <tr>
    <th class='position'>#</th>
    <th>Nome</th>
    <th>Dano</th>
  </tr>
  <tr ng-repeat='ranker in rankers'>
    <td class='position'>#{{$index+1}}</td>
    <td ng-class='ranker.colorActive'>{{ranker.username}}</td>
    <td>{{formatDmg(ranker.totalClicks[bossId])}}</td>
  </tr>

</table>
